@use '../../../Styles/variables.scss' as v;

.navFilter--mobile-wrapper{
//    margin-inline: auto;
      margin-block: 0 v.$gutter-medium;
      padding-block: v.$gutter-medium;
      background-color: white;
      // box-shadow: 0 -5px 5px 5px rgba(3, 25, 37, 0.155), 0 0 20px 10px rgba(4, 139, 250, 0.041);
      box-shadow: 0 2px 3px rgba(3, 25, 37, 0.051) inset, 0 0 5px 2px rgba(4, 139, 250, 0.081) inset;
      clip-path: polygon(0.5% 5%, 99% 5%, 99% 120%, 0.5% 120%);
      // border-bottom: 1px solid rgb(213, 224, 241);
      width: 100%;

    .navFilter--mobile-list{
       display: flex;
       justify-content: center;
       list-style-type: none;
       gap: 2.5vw;
       margin: 0;
       padding: 0;
       font-size: .950rem;

         &-menu-item{
            transition: opacity 300ms ease;
            .menu--link{
               color: v.$color--text--primary;
               text-decoration: none;

               &.active {
                  text-decoration: underline;
                  text-decoration-thickness: 2px;
                  text-underline-offset: 5px;
               }
            }
         }
    }
}