
$gutter-medium: 1rem;

// ==Article Commentaire

// == HEADER VAR
$headerHeight: 90px;
$headerHeightMobile: 70px;

$navMovileHeight: 68px;
$titleStickyHeight: 2.5rem;


// == forum VAR
$widthIcon: 55px;

// == MENU VAR
// $heightInput: 1.8rem;
$heightInput: 30px;

$color-primary: #ffff;

$color--text--primary: #62CDFF;

$color-textHover: #ABEEF3;

$text-shadow: 0 2px 2px rgba(0, 0, 0, 0.116);


// $color-gradient: radial-gradient(ellipse at top, transparent,  rgba(0, 171, 250, 0.400), rgba(0, 171, 250, 0.400));
// 767E83 25% 10

// F6F6F6

//767E83 ombre texte 