
@use '../../../../../Styles/variables.scss' as v;

.forum--Message{
        display: block;
        font-size: clamp(.7rem, 5vw, 1rem);


        &.new-message{
            animation: animatedNewMessage 200ms ease;
        }

        @keyframes animatedNewMessage {
            from {
                transform: translateY(10px);
            }
            to{
                transform: translateY(0);
            }
        }

        .wrapper-box-shadow{
            display: flex;
            flex-flow: column;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 1px solid rgb(255, 255, 255);
        }

        &-wrappertitle{
            position: relative;
            display: block;
            background-image: url(/src/Assets/ticket.svg);
            background-repeat: no-repeat;
            background-size:contain;
            border-top-right-radius: 15px;
            padding-inline: 85px 25px;
            padding-block: 7px;
            line-height: 1.3rem;
            text-align: center;
            width: fit-content;
            box-shadow: 0 0 8px 1px rgba(166, 173, 177, 0.199);
            clip-path: polygon(0% -20%, 105% -20%, 100% 100%, 0% 100%);
                
                &-usericon{
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    padding: 5px;
                    background-color: white;
                    box-shadow: 0 0 5px 1px rgba(229, 244, 255, 0.377) inset, 0 0 5px 2px rgba(4, 139, 250, 0.041) inset;

                    svg{
                        display: block;
                        box-sizing: border-box;
                        width: 18px;
                        height: auto;
                        color: #62CDFF;
                    }
                }

               &-username{
                    font-size: 0.875rem;
                    font-weight: bolder;
               }

               &-hastag{
                   display:inline-block;
                    font-size: .75rem;
                    color: rgb(184, 184, 184);
                    font-variant: all-small-caps;
               }
        }

        &-wrappermessage{
        position: relative;
        border-top-right-radius: 10px;
        background-color: rgb(248, 253, 255);
        box-shadow: 0 0 8px 1px #a6adb133, 0 0 1px 0.3rem #fff inset;
        padding-block: 1.5rem 0;
        padding-inline: 1vw;

        @media screen and (min-width: 470px) {
            padding-inline: 0;
        }

            &-content{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                    &-info_user_post{
                        position: relative;
                        display: block;
                        align-items: baseline;
                             
                        @media screen and (min-width: 470px) {
                            display:flex;
                        }
                    }

                    &-title{
                        position: relative;
                        font-size: 1rem;
                        margin-block: 0;
                        padding-block: .3rem;
                        padding-inline: 1vw;
                        margin-inline: 1vw;
                        box-sizing: border-box;
                        word-break: break-word;
                        font-size: 1.1rem;


                        @media screen and (min-width: 470px) {
                            width: 100%;
                            margin-inline: calc(v.$gutter-medium + .1rem) 5rem;    
                        }
    
                    }

                    &-hour{
                        margin-left: auto;
                        padding-block: .5rem;
                        padding-inline: 1vw;
                        margin-inline: 1vw;
                        font-size: .8rem;
                        color: rgb(184, 184, 184);
                        white-space: nowrap;
                        font-variant: all-small-caps proportional-nums;

                        @media screen and (min-width: 470px) {
                            padding-inline: v.$gutter-medium; 
                            margin-left: auto;
                            margin-inline: inherit;
                        }
                    }

                    &-texte{
                        position: relative;
  
                        p{
                            position: relative;
                            // line-height: 1.3rem;
                            font-size: 0.875rem;
                            word-break: break-word;
                            border-radius: 5px;
                            color: rgb(43, 43, 43);
                            padding-block: 1rem;
                            padding-inline: 1vw;
                            margin-inline: 1vw;
                            border-top: 1px solid rgb(236, 236, 236);
    
                            --max-lines: 2;
                            --line-height: 1.3;
                            max-height: calc(var(--max-lines) * 1rem * var(--line-height));
                            text-overflow: ellipsis;
                            overflow: hidden;
                            
                            &.text-hidden::before{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: calc(1.5rem * var(--line-height));
                                bottom: 0;
                                pointer-events: none;
                                background: linear-gradient(to bottom, transparent, rgba(248, 253, 255, 0.304), rgb(248, 253, 255));
                            }

                            &.text-visible{
                                max-height: none;

                                &::before{
                                    width: 100%;
                                    height: 0;
                                    bottom: 0;
                                    pointer-events: none;
                                    background: none;
                                }
                            }
    
                            
    
                            @media screen and (min-width: 470px) {
                                margin: 0;
                                margin-inline: 1.1rem 1rem;
                                margin-block: 1rem;
                                padding: 1rem 1.6rem 0rem 1vw;
                            }
                        }
                        
                        .btnMoreRead{
                            position: absolute;
                            bottom: - .2rem;
                            left: 1vw;
                            color: v.$color--text--primary;
                            background: none;
                            border: 0;
                            outline: 0;
                            cursor: pointer;
                            pointer-events: all;
                            
                            span{
                                font-size: .78rem;
                            }
                            
                            svg{
                                width: 13px;
                                height: auto;
                            }

                            &:hover{
                                text-decoration: underline;
                            }

                            @media screen and (min-width: 470px) {
                                left: calc( .7rem + 1vw);
                            }

                        }
                    }
            }

            &-information{
                display: flex;
                flex-flow: row;
                justify-content: flex-end;
                margin-left: auto;
                padding-inline: 1rem;
                padding-block: .35rem;
                gap: .5rem;
                border-top: none;
                border-bottom: 1px solid transparent;
                color: #62CDFF;
                cursor: pointer;
                pointer-events: all;
                // box-shadow: 0 0px 1px .1rem white inset;
                transition: background-color 300ms ease, box-shadow 200ms ease;
                

                &:not(.noComment):hover{
                    // background-color: #62cdff17;
                    // box-shadow: 0 0 1px .2rem white inset;
                    box-shadow: 0 0px 1px .2rem white inset;
                    background-color: #aee5ff17;
                }
                    
                &.active{
                    border-bottom: 1px solid rgb(240, 240, 240);
                    button{
                        transform: translateY(1px) rotate(-180deg);
                    }
                }


                    button{
                        display: flex;
                        align-items: center;
                        background: none;
                        color: v.$color--text--primary;
                        outline: 0;
                        border: 0;
                        padding: 0;
                        max-height: 17px;
                        cursor: pointer;
                        transition: transform 200ms ease;
                    }

                    &-countmessage,
                    &-like{
                        display: flex;
                        gap: 0.5em;
                        font-size: 0.8rem;

                            img,
                            svg{
                                display: block;
                                width: 17px;
                                height: auto;
                                max-height: 100%;
                            }
                    }

                    &-countmessage{
                            
                    }

                    &-like{
                        pointer-events: all;
                        cursor: pointer;
                        background-color: transparent;
                        
                        svg{
                            transition: transform 200ms ease-in;
                        }

                        &:hover{

                            transform: scale(1);
                            svg{
                                transform: scale(1.1);
                            }
                        }
                        
                    }

            }

        &-input {
            position: relative;
            display: flex;
            flex-flow: row-reverse;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top: 1px solid rgb(240, 240, 240);

            .bubble-message{
                right: 5px;
            }

            .wrapper-text-areaResponse{
                display: flex;
                height:fit-content;
                width: 100%;
                min-height: v.$heightInput!important;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                
                textarea{
                    resize: none;
                    box-shadow: -2px 5px 8px -5px #a6adb133, -5px -2px 8px -5px #a6adb133;
                    clip-path: polygon(0% 0%, 100% 0%, 100% 120%, -5% 120%);
                    backface-visibility: hidden;
                    width: 100%;
                    min-height: v.$heightInput!important;
                    padding-block-start: 4px;
                    padding-inline: v.$gutter-medium;
                    text-indent: 0px;
                    border-bottom-left-radius: 10px;
                    background-color: white;
                    border: 1px solid transparent;
                    border-right: 1px solid rgb(240, 240, 240);
                    outline: 0;
                    box-sizing: border-box;
                    transition: border 300ms ease-in;  

                    &::placeholder{
                            // line-height: 1.5rem;
                            opacity: 1;
                            font-size: .8rem;
                            color: #78d4ff;
                            transition: opacity 300ms ease-out;
                        }

                        &:focus{
                            border: 1px solid #62cdff9d;

                            &::placeholder{
                                opacity: 0;
                            }
                    }
                }
            }

                &-btn{
                    cursor: pointer;
                    pointer-events: all;
                    position: relative;
                    top: 0;
                    right: 0;
                    outline: 0;
                    border: 0;
                    padding: 0;
                    width: 40px;
                    border-bottom-right-radius: 10px;
                    height: v.$heightInput;
                    background: inherit;
                    background-color: white;
                    color: v.$color--text--primary;
                    box-shadow: -5px 5px 8px -5px #a6adb133, 5px 2px 8px -5px #a6adb133;
                    transition: transform 200ms ease-in, color 200ms ease-in;
                    z-index: 100;

                        svg{
                            position: absolute;
                            top:50%;
                            left:50%;
                            width: 20px;
                            height: 20px;
                            transform: translate(-50%, -50%);
                            cursor: none;
                            pointer-events: none;
                            transition: transform 200ms ease-out, color 100ms ease-out;
                        }

                        &:hover{
                            svg{
                                color: v.$color-textHover;
                                transform: translate(-50%, -50%) rotate(45deg);
                            }
                        }

                        &:active{
                            svg{
                                color: v.$color--text--primary;
                            }
                        }
                }

                input {
                    backface-visibility: hidden;
                    // min-width: 300px;     
                    width: 100%;
                    height: v.$heightInput;
                    padding-inline: v.$gutter-medium;
                    text-indent: 0px;
                    border-bottom-left-radius: 10px;
                    background-color: white;
                    border: 1px solid transparent;
                    border-right: 1px solid rgb(240, 240, 240);
                    outline: 0;
                    box-sizing: border-box;
                    transition: border 300ms ease-in;  

                    &::placeholder{
                            opacity: 1;
                            font-size: .75rem;
                            color: #78d4ff;
                            transition: opacity 300ms ease-out;
                        }

                        &:focus{
                            border: 1px solid #62cdff9d;

                            &::placeholder{
                                opacity: 0;
                            }
                    }
                    
                }
        }

    }
}


$IconMessage : '../../../../../Assets/message&pencil.svg';

.btn-Message-mobile-wrapper{
    position: absolute;
    width: fit-content;
}
.btn-Message-mobile{
    display: none;
    position: relative;
    bottom: 5px;
    left: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    pointer-events: all;
    background: none;
    background-image: url($IconMessage);
    background-size: 80%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    max-width: 60px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgba(158, 190, 212, 0.438);
    background-color: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    animation: mooveBtn 800ms alternate infinite;
    z-index: 5000;
}

.btn-Message-mobile-close{
    position: absolute;
    top: 27px;
    right: 17px;
    border: 0;
    outline: 0;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    box-shadow: 0 0 5px 1px rgba(158, 190, 212, 0.219);
    // background: #62cdffd0;
    z-index: 9999;

    &::after{
        content: "Close";
        position: absolute;
        width: 12px;
        height: 2px;
        left: -40px;
        bottom: 16px;
        color: v.$color--text--primary;
    }

    @media screen and (min-width: 824px){
        display: none;
    }

    &-cross{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before,
        &::after{
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            // border: 1px solid transparent;
            background-color: white;
            background: #62cdffd0;
        }

        &::after{
            transform: rotate(45deg);
        }
        &::before{
            transform: rotate(-45deg);
        }
    }
}

@keyframes mooveBtn {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-5px);
    }
}


@media screen and (max-width: 823px){

    .btn-Message-mobile{
        display: block;
    }

    .main--wrapper--div-inner{

        #WidgetMessage{
            top: inherit;
            bottom: v.$navMovileHeight;
            margin: 0;
            left: 0;
            height: fit-content;
            // width: calc(100% - (150px + v.$gutter-medium));
            transition: transform 500ms ease;
            max-width: 0;
            min-width: 0;
            z-index: 9999;
    
            &.open{
                max-width: none;
                min-width: 300px;
                transform: translateY(0);

                .widgetMessage--wrapper{
                    opacity: 1;

                    .widget--title{
                        opacity: 1;
                    }
                }
            }
        
            &.close{
                transform: translateY(calc(100% - 60px));
            }
    
            .widgetMessage--wrapper{
                max-height: calc(100vh - v.$navMovileHeight);
                overflow-y: auto; 
                opacity: 0;
                transition: opacity 500ms ease;          
    
                .widget--title{
                    opacity: 0;
                    position: relative;
                    border-top-right-radius: 10px;
                    background-color: rgba(255, 255, 255, 0.692);
                    backdrop-filter: blur(2px);
                    width: fit-content;
                    padding-inline: 5rem 3rem;

                    h3{                     
                        width: fit-content;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 585px){
    .main--wrapper--div-inner{
        #WidgetMessage{
            width:100%;
        }
    }
}


