@use '../../../Styles/variables.scss' as v;
  

.profil_utilisateur {
     position: relative;
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
     gap: v.$gutter-medium;
     margin-inline: auto;
     margin-block-start: v.$gutter-medium;
     box-sizing: border-box;
     width: calc(100% - 10vw);

     @media screen and (min-width: 1080px){
      margin-block-start: 0;
     }
  
    .avatar {
      position: relative; 
      border-radius: 50%;
      box-shadow: 0 0 5px 1px rgba(229, 244, 255, 0.377) inset, 0 0 5px 2px rgba(4, 139, 250, 0.041) inset;
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin-inline: auto;

        svg {
          position: absolute; 
          top: 50%; 
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70%; 
          height: 70%;
          color: v.$color--text--primary;
          border-radius: 50%;
        }
    }


    .user-links {
      display: flex;
      justify-content: center;
      gap: v.$gutter-medium; 

        button {
          background-color: #62CDFF;
          box-shadow: 0 2px 5px rgba(3, 25, 37, 0.068) , 0 5px 5px 3px rgba(4, 139, 250, 0.041);
          padding: 7px 15px;
          border-radius: 5px;
          font-size: .8rem;
          line-height: 10px;
          text-transform: uppercase;
          color: white;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s;

          &.active {
            border-bottom: 3px solid rgba(0, 34, 66, 0.329); 
          }

          &:hover {
            background-color: darken(#62CDFF, 10%); 
          }

          &:active {
            background-color: darken(#62CDFF, 20%); 
          }

          &:focus {
            outline: none; 
            box-shadow: 0 0 0 2px lighten(#51c7fd, 20%); 
          }
        }

        
    }
}   
  


